<div class="card">
    <div class="card-header" style="background-color: #828d98;">
        <span style="color:white">Echannel Verification Data</span>
    </div>
    <div  >
        <table id="customers">
            <tr >
              <th>Label</th>
              <th>Count</th>  
            </tr>
            <tr>
              <td>Not Yet Called</td>
              <td>{{notYetCalled}}</td>   
            <tr>
              <td>Call Back Successful</td>
              <td>{{callBackSuccessful}}</td>
             
            </tr>
            <tr>
                <td>Call Back Not Successful</td>
                <td>{{callBackNotSuccessful}}</td>     
            </tr> 
        </table>
    </div>
</div>